@media (max-width: 991px){
  .about-home-3{
    padding: 0px; 
  }

  .about_img_bg {
    width: 260px;
  }
}

@media (max-width: 768px){
  .section_blog_else {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .index_about_pic{
    margin: 20px 0;
  }

  .tp-caption.text_set br{
    display: none;
  }

}

@media (max-width: 640px){
  .bg_img_works{
   background-size: initial;
  }
}


@media (max-width: 480px){
  .contact-info.p_add{
    padding: 50px 30px;
  }

  .sx-separator-outer h3.big_title{
    font-size: 35px!important
  }

  .logo-header{
    height: 100%;
  }

  .about-home-3 h3{
    font-size: 35px;
  }

  /*.tp-caption.text_set{
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }*/

  /*.tp-caption.text_set br{
    display: none;
  }*/
}
